<div class="container">
  <div class="row">

    <h1>Contact Us</h1>
    <%= form_for @message, url: contact_path do |message_form| %>
      <fieldset>
        <div class="field">
          <%= message_form.text_field :name, placeholder: "Name", class: 'form-control' %>
        </div><br>
        
        <div class="field">
          <%= message_form.text_field :company, placeholder: "Company", class: 'form-control' %>
        </div><br>
        
        <div class="field">
          <%= message_form.email_field :email, placeholder: "Email Address", class: 'form-control' %>
        </div><br>
        
        <div class="field">
          <%= message_form.text_area :content,placeholder: "Your Message", size: "25x6", class: 'form-control' %>
        </div><br>
      </fieldset>
      
      <fieldset>
        <div class="field">
          <%= message_form.submit "Send", class: "btn btn-primary" %>
        </div>
      </fieldset>
    <% end %>
    <br><br>
    
  </div>
</div>