<%= form_for(@article) do |f| %>
  <%= f.label :pubdate %>
  <%= f.date_field :pubdate, class: 'form-control datepicker', "data-provide" => 'datepicker' %>
  
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  
  <%= f.label :body %>
  <%= f.text_area :body, size: "25x15", class: 'form-control' %>
  
  <%= f.label :source %>
  <%= f.text_field :source, class: 'form-control' %>
  
  <%= f.label :publish %>
  <%= f.check_box :publish, class: 'form-control' %>
  
  <%= f.label :tag_list, "Tags (separated by commas)", class: 'form-control' %><br />
  <%= f.text_field :tag_list %>
  
  <p class="pull-right">
  <%= link_to "Cancel", :back, class: "btn btn-default" %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  </p>
<% end %>
