<td><%= link_to user.name, user %></td>
<td><%= link_to user.email %></td>
<td><%= link_to user.company.try(:company_name), user.company || "" %></td>
<td><%= user.sign_in_count %></td>
<td><small><i><%= user.last_sign_in_at || "N/A" %></i></small></td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <div class="btn-group btn-group-xs" role="toolbar" aria-label="...">
  <% if current_user.email? %>
  <%= link_to "edit", edit_user_path(user), class:"btn btn-default" %>
  <%= link_to("delete", users_path(user), :data => { :confirm => "Are you sure you want to delete this user?" }, :method => :delete, :class => 'btn btn-default') unless user == current_user %>
  <% end %>
  </div>
</td>

