<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h3>Companies <small>(<%= Company.count %> registered)</small></h3>
    <%= button_to "new company", new_company_path, class:"btn btn-primary", :method => :get %><br>
    <div class="column">
      <table class="table">
        <tbody>
          <% @companies.each do |company| %>
            <tr>
               <td><%= link_to company.company_name, company %></td>
              <td><%= link_to 'Edit', edit_company_path(company) %></td>
              <td><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>